@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
.animate__fastest {
	--animate-duration: 0.5s;
}

* {
	scroll-behavior: smooth !important;
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

.hide-scroll-bar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden !important;
}

@keyframes slide-forward {
	0% {
		transform: translateX(5%);
	}

	100% {
		transform: translateX(-10%);
	}
}

.animate-slider {
	animation: slide-forward 3s ease-in-out infinite alternate;
}

.pause-slider-container:hover .animate-slider {
	animation-play-state: paused;
}
